[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = ">=2.0"
numpy = "*"
pandas = "*"
scipy = "*"
psycopg2-binary = "*"
sentence-transformers = "*"
bertopic = "*"
topmost = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
